@{
    ViewBag.Title = "Acerca de";
}
<section class="container card">
    <h2>@ViewBag.Title</h2>

    <h3>Descripcion</h3>
    <p>Este proyecto fue realizado para demostrar que se dominan una gran cantidad de conocimentos y herramientas Del entorno de desarrollo Visual studio y tecnologias .net y el leguaje de programacion c#.</p>
    <h3>Desarrollador</h3>
    <p>Andres Pablo Fernandez Caballero</p>
    <p>Mail: andres.fernandezcaballero@davinci.edu.ar </p>
    <p>Github: https://github.com/Andres-Fernandez-Caballero. </p>

</section>
