@{
    ViewBag.Title = "Home Page";
}

<div class="jumbo-card">
    <h1 lang="en">Order Grabber WebApp</h1>
    <p class="lead">Order Grabber WebApp Forma parte del ecosistema Order Grabber para el control y gestion de productos.</p>
    <p class=""><a href="https://github.com/Andres-Fernandez-Caballero/order_grabber.git" class="btn btn-primary btn-lg" target="_blank">Github</a></p>
</div>
