<div class="jumbo-card">
    <h1>Order Grabber API Web</h1>
    <p class="lead">Order Grabber API Web es una manera simple y rapida para la comunicacion con la plataforma Order Grabber desde Cualquier tipo de systema y lenguaje de programacion.</p>
    <p><a href="https://github.com/Andres-Fernandez-Caballero/order_grabber.git" target="_blank" class="btn btn-primary btn-lg">Github del proyecto</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <h2>Documentacion Swagger</h2>
            <p>Uno de los requerimientos del proyecto APIWeb era la documentacion del mismo a travez de la API <a href="https://swagger.io/" target="_blank">Swagger</a>.</p>
            <p><a class="btn btn-default" href="/Swagger" target="_blank">Documentacion  &raquo;</a></p>
        </div>
        
    </div>
</div>
