<div class="jumbotron">
    <h1>Order Grabber API Web</h1>
    <p class="lead">Order Grabber API Web es una manera simple y rapida para la comunicacion con la plataforma Order Grabber desde Cualquier tipo de systema y lenguaje de programacion.</p>
    <p><a href="https://github.com/Andres-Fernandez-Caballero/order_grabber.git" target="_blank" class="btn btn-primary btn-lg">Github del proyecto</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Documentacion Swagger</h2>
        <p>Uno de los requerimientos del proyecto APIWeb era la documentacion del mismo a travez de la API <a href="https://swagger.io/" target="_blank">Swagger</a>.</p>
        <p><a class="btn btn-default" href="/Swagger" target="_blank">Documentacion  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
