body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:whitesmoke;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 32px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.bg-order-grabber {
    background-color: #B9F6CA;
}

.navbar {
    color:white;
}

.nav.navbar-nav  a{
    color: white;
}

.navbar-brand{
    color:floralwhite;
}
.btn-primary {
    background: #B2EBF2;
    color: black;
}
.card {
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    margin-left: initial;
    border-color: black;
}

.card h2 {
    font-weight:600;
}
.card h3 {

    font-size:19px;
    font-weight:400;
    text-decoration-line:underline;
}

.card p {
    font-size:14px;
    font-weight:300;
    color:gray;
}

.jumbo-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    height: 250px;
    padding: 32px;
    background: #80DEEA;
}
.jumbo-card h1 {
    color:white;
}

.jumbo-card p {
    color: darkslategray;
}

